<h1>Watch More Movies!!</h1>

<h2>Movies you want to watch!</h2>

<main>
  <div class="container">
        <ul>
{{#each burgers}}
{{#unless this.devoured}}
<div>
  <form action="burgers/{{this.id}}" method="PUT">
    <button type="submit" class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">{{this.burger_name}}</button>
  </form>
  </div>
{{/unless}}
{{/each}}
</ul>

<h2>Seen it!</h2>

  {{#each burgers}}
  {{#if this.devoured}}
  <div class="devoured">
    <div>
      {{this.burger_name}}
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>
</main>
<h2>Add a Movie</h2>
    <form action="/api/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Movie Name">
      <button type="submit" class="addBurger">Add The Movie</button>
    </form>
  </div>
